@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Play:wght@400;700&display=swap");
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-family: "Play", sans-serif;
}
.button {
    background-color: white;
    color: black;
    padding: 10px;
}
.div1nav {
    display: flex;
    width: 18%;
    justify-content: space-between;
    font-size: 1.1rem;
    color: rgba(184, 177, 177, 0.98);
}
body {
    margin: 0;
    font-family: "Play", sans-serif;
}
.hero {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/e2f27bed7_generated_fc3fe742.png");
    height: 83vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 45px;
    font-family: "Play", sans-serif;
}
.hero h1 {
    color: white;
    font-size: 10.3rem;
    font-weight: 500;
    margin: 0;
}
.services {
    display: flex;
}
.services div {
    width: 50%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
}
.services div h3 {
    font-family: "Play", sans-serif;
    font-weight: 100;
    font-size: 3.2rem;
    line-height: 0.95;
    margin: 10px 0;
}
.serviceDescription {
    color: #c8c8c8;
}
.services div ul {
    color: #c8c8c8;
    list-style-type: none;
    padding: 0;
}

.materials {
    color: gray;
    letter-spacing: 3px;
}

.sectionServices {
    background-color: black;
    color: white;
}
.services div a {
    border: 1px solid;
    padding: 10px 30px;
}

.sectionServices h2 {
    font-size: 7rem;
    padding: 60px 47px;
    margin: 0;
    font-family: "Play", sans-serif;
    font-weight: 100;
    border-top: 1px solid rgba(88, 88, 88, 0.3);
    border-bottom: 1px solid rgba(88, 88, 88, 0.3);
}
#div1 {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/71e3cd42f_generated_4f601fea.png");
}
#div2 {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/3d6ce490b_generated_3b7e9b12.png");
}
#div3 {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/efc1286cb_generated_f12958e8.png");
    background-size: cover;
    background-position-x: center;
}
#div4 {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/395d2e258_generated_3418e1a0.png");
    background-size: cover;
    background-position-x: center;
}
#div5 {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/346e96d41_generated_9b21256a.png");
    background-size: cover;
    background-position-x: center;
}
#div6 {
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
        url("https://media.base44.com/images/public/6a68c7f8481b363e794b23b3/71e3cd42f_generated_4f601fea.png");
    background-size: cover;
    background-position-x: center;
}
.mainCard {
    display: flex;
}
.card {
    width: 25%;
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
}
.archive {
    color: gray;
    font-size: 0.7rem;
}
.nameCard {
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0;
}
.cardDescription {
    font-size: 0.69rem;
    color: #d2d1d1;
}
